@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;

// eight : appbar + boardbar + boardContent = 100vh
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

//color
// $board-bg-color: #50B5C7;
$board-bg-color: powderblue;
// $board-bg-color: rgb(122, 218, 233);

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';

$common-element-bg: rgba(255, 255, 255, .24);